<!DOCTYPE html>
<html>
<head>
<title>Kurppa</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body id="myPage">

<!-- Sidebar on click -->
<nav id="mySidebar" class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Uusi havainto</a>
  <a href="#static" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Tilastot</a>
  <a href="#birds" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Linnut</a>
  <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">Kirjaudu ulos</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#static" class="w3-bar-item w3-button">Tilastot</a>
    <a href="#birds" class="w3-bar-item w3-button">Linnut</a>
    <a href="#" class="w3-bar-item w3-button">Haku</a>
    <a href="/logout" class="w3-bar-item w3-button">Kirjaudu ulos</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/static/images/kurpat.png" alt="header" style="width:100%;min-height:120px;max-height:150px;">
</div>

<!-- Modal -->
<div id="modal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('modal').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Lisää uusi lintuhavainto</h4>
      <h5>Vaikkapa kurppa <i class="fa fa-smile-o"></i></h5>
    </header>
	
    <div class="w3-container">
      <form action="/add-sight" method="POST" class="w3-text-teal" autocomplete="off">
		<label for="name">Laji:</label>
		<div class="autocomplete" style="width:300px;">
		  <input id="birdname" class="autocomplete-text" type="text" name="birdname" placeholder="lintulaji">
	    </div>
		<br>
		<label for="date">Aika:</label>
		<input id="date" type="date" name="date">
		<br>
		<input type="submit" value="Lähetä">
	  </form>
    </div>

  </div>
</div>

<!-- Statics Container -->
<div id="static" class="grid-container w3-padding-24">
    <div class="grid-item item1">
	  <div class="articles card">
		<div class="card-header d-flex align-items-center">
		  <h3>Viimeisimmät havainnot</h3>
		</div>
		<div class="card-body no-padding">
			{% for sight in sights10 %}
			<div class="sight d-flex align-items-center">
				<div class="image">
				    <img src="/static/images/kurppa.jpg" alt="..." class="img-fluid rounded-circle">
				</div>
				<div class="text"><a href="#">
					<h3 class="h5">{{ sight.name_fi }}</h3></a><small>{{ sight.date.strftime("%d.%m.%Y %H:%M") }}</small>
				</div>
			</div>
			{% endfor %}
		</div>
	  </div>
	</div>
	<div class="grid-item item2">
		<div class="articles card">
		  <div class="card-header d-flex align-items-center">
			<h3>Tänään</h3>
		  </div>
		  <div class="card-body no-padding">
			<p class="stat-number">{{score_day}}</p>
		  </div>
		</div>
    </div>
	<div class="grid-item item3">
		<div class="articles card">
		  <div class="card-header d-flex align-items-center">
			<h3>Tässä kuussa</h3>
		  </div>
		  <div class="card-body no-padding">
			<p class="stat-number">{{score_month}}</p>
		  </div>
		</div>
	</div>
	<div class="grid-item item4">
		<div class="articles card">
		  <div class="card-header d-flex align-items-center">
			<h3>Tänä vuonna</h3>
		  </div>
		  <div class="card-body no-padding">
			<p class="stat-number">{{score_year}}</p>
		  </div>
		</div>
	</div>
    <div class="grid-item item5">
		<div class="articles card">
		  <div class="card-header d-flex align-items-center">
			<h3>Lahkoittain</h3>
		  </div>
		  <div class="card-body no-padding">
			<!-- Progress Bar -->
			<div class="work-progress">
				{% for orderr in orderrs %}
					<span class="orderr" style="float:left">{{orderr}}</span>
					<div class="progress-bar">
						<div class="progress-percent" percent="0/0"></div>
					</div>
				{% endfor %}
			</div>
		  </div>
		</div>
	</div>
    <div class="grid-item item6">
	    <div class="add-button">
		  <button onclick="document.getElementById('modal').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="addsight">LISÄÄ HAVAINTO</button>
		</div>
		<div class="svg-item">
		  <svg width="70%" viewBox="0 0 40 40" class="donut">
			<circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
			<circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
			<circle id="circle" class="donut-segment" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="0 100" stroke-dashoffset="25"></circle>
			<g class="donut-text">
			<text y="50%" transform="translate(0, 2)">
			  <tspan x="50%" text-anchor="middle" class="donut-percent">{{percentage}}%</tspan>   
			</text>
			<text y="60%" transform="translate(0, 2)">
			  <tspan x="50%" text-anchor="middle" class="donut-data">{{score}}</tspan>   
			</text>
			</g>
		  </svg>
		</div>
	</div>
</div>


<!-- Bird Container -->
<div id="birds" class="w3-container w3-padding-64 w3-center">
	<h2>LINNUT</h2>
	<p>Meet the team - our office kurpat:</p>
	<input type="text" id="myInput" onkeyup="mySearch()" placeholder="Hae nimellä...">

	<div class="w3-row"><br>
		<hr>
		{% for bird in birds %}
		<div class="w3-col s2">
		  <img src="{{bird.image}}" alt="kurppa" style="width:70%; margin-top:30px" class="bird-img w3-circle">
		  <h3 style="margin-bottom: 0px;margin-top: 7px;">{{bird.name_fi}}</h3>
		  <p>{{bird.name_lat}}</p>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Kurpeti kurp</h4>
  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Ylös</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>



<!-- Javascript -->
<script src="/static/javascript/sidenavigation.js"></script>
<script src="/static/javascript/autocomplete.js"></script>
<script src="/static/javascript/animatecircle.js"></script>
<script src="/static/javascript/orderprogress.js"></script>
<script src="/static/javascript/birdsearch.js"></script>
<script src="/static/javascript/sights.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  // Inputs
  var percentage = {{percentage}};
  var orderr_dict = {{orderr_statics|tojson}}
  var orderrnum_dict = {{orderr_nums|tojson}}
  var unique_sights = {{unique_sights|tojson}}
  
  window.onload = function() {
  
  animateCircle(percentage);
  birdImages($('.bird-img'), unique_sights);
  // Script for autocomplete
  autocomplete(document.getElementById("birdname"), JSON.parse({{birdnames_json|tojson}}));
  
  }
  
  $('.progress-percent').each(function(){
		orderProgress.bind(this)(orderr_dict, orderrnum_dict);
	});

</script>

</body>
</html>