<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kurppa - Kirjaudu</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
	    <!-- Navbar -->
		<div class="w3-top">
		  <div class="w3-bar w3-theme-d2 w3-left-align">
		    <a href="/" class="w3-bar-item w3-hide-small w3-display-middle">Kurppa</a>
		    <a class="w3-bar-item w3-hide-small w3-left" style="color: black; cursor: default">Kurppa</a>
		  </div>
        </div>
 
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto my-auto">
            <div class="row">
                <div class="login-box card border-0 px-4 py-5">
                    
					{% if  error %}
					<p class="text-danger" style="position: absolute; Top: 5%">{{ error }}</p>
					{% endif %}

                    <form action="/login" method="POST">
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Käyttäjätunnus</h6></label>
                            <input class="mb-4" type="text" id="username" name="username" placeholder="Anna käyttäjätunnus"> </div>
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Salasana</h6></label>
                            <input type="password" id="password" name="password" placeholder="Anna salasana"></div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Kirjaudu</button> </div>
                    </form>
                    
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Ei vielä tunnusta? <a class="text-danger" href="/signup">Luo uusi tunnus</a></small> </div>
                    
                </div>
            </div>
        </div>


    </body>
</html>
