<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Kurppa - Uusi tunnus</title>
    </head>
    <body>
	    <!-- Navbar -->
		<div class="w3-top">
		  <div class="w3-bar w3-theme-d2 w3-left-align">
		    <a href="/" class="w3-bar-item w3-hide-small w3-display-middle">Kurppa</a>
		    <a class="w3-bar-item w3-hide-small w3-left" style="color: black; cursor: default">Kurppa</a>
		  </div>
        </div>

          <div class="row">
            <div class="signup-box card border-0 px-4 py-5">
              <h6 class="signup-text">Uusi kurppailija</h6>

              <form method="POST" action="/signup">
                <div class="row px-3">
                    <label class="mb-1"><h6 class="mb-0 text-sm">Käyttäjänimi</h6></label>
                    <input class="mb-4" type="username" id="username" name="username"
                           placeholder="Kirjoita käyttäjätunnus" maxlength="25"></div>
                <div class="row px-3">
                    <label class="mb-1"><h6 class="mb-0 text-sm">Salasana</h6></label>
                    <input type="password" id="password" name="password" placeholder="Kirjoita salasana"></div>
                <div class="row mb-3 px-3">
                    <button type="submit" class="btn btn-blue text-center">Luo uusi käyttäjä!</button></div>
              </form>
              
              {% if  error %}
              <p class="text-danger" style="position: absolute; Bottom: -1%">{{ error }}</p>
              {% endif %}

            </div>
          </div>

    </body>
</html>

